html, body {
    font-family:monospace;
    /*overflow: hidden;*/
}

#log {
    height:200px;
    border:1px solid black;
    overflow:auto;
}

#msg {
    width: 330px;
}

div {
    width:500px;
    margin: 10px auto 10px auto;
}

#number {
    text-align: center;
    background-color: #00a6fb;
    max-width: 35%;
}

.test{
    margin-left: 10%;
    display: none;
}

.width-50{
    width: 50%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#waiting-container{
    display: none;
}

.dark-blue{
    background: #001845;
}

#btn-start-game{
    display: none;
}

#login{
    display: none;
}

#hit-counter-div{
    display: none;
}

#lives-div{
    display: none;
}

#players-div{
    display: none;
}

#div-left, #div-right, #div-top, #div-bottom{
    display: none;
}

.red-color{
    /* #274c77*/
    background-color: #d90429;
}

.green-color{
    /* #274c77*/
    background-color: #49a078;
}

.blue-color{
    /* #274c77*/
    background-color: #00b4d8;
}

.yellow-color{
    /* #274c77*/
    background-color: #ffd100;
}
canvas{
    background-color: black;
    display: none;
}